body{
    background: rgb(64, 110, 64);
    font: Normal 13pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 8px;
    box-shadow: 5px 5px 10px black;
}
div{
    text-align: center;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
    font: italic;
}