body{
background: rgb(40, 40, 105);
font: Normal 15pt Arial;
}
header{
color: white;
text-align: center;
}
section{
background: white;
border-radius: 10px;
width: 500px;
margin: auto;
padding: 8px;
box-shadow: 5px 5px 10px black;
}
div{
    text-align: center;
    padding: 8px
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}